albumentations==1.2.1
comet-ml==3.23.0
einops==0.4.1
flake8==4.0.1
future==0.18.2
imgaug==0.4.0
kornia==0.6.5
matplotlib==3.5.1
numpy==1.19.5
omegaconf==2.2.2
opencv-python==4.5.4.60
pandas==1.1.5
prettytable==3.3.0
pytest==6.2.5
python-dotenv==0.19.2
pytorch-lightning==1.6.5
timm==0.5.4
torchmetrics==0.9.1
scikit-learn==1.0.2
scipy==1.5.2
flask==2.0.3
flask-cors==3.0.10
wandb==0.12.17
